{% extends "base.html" %}

{% block content %}
	<div class="heading-container">
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="page-heading">
						<h3>Add Code</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-result-container">
		<div class="container">
			{% if messages %}
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 signup-success-msg">
					<div class="row">
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{% for message in messages %}
								{% autoescape off %}
									{{ message }}
								{% endautoescape %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="row">
					<form action="" method="POST" role="form">
						{% csrf_token %}
						<input type="hidden" name="user" value="{{ user.id }}">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<label for="select-language">Select language</label>
									<select class="form-control" name="language" id="select-language">
										<option>Select</option>
										{% for result in all_language %}
											<option id="{{ result.id }}" value="{{ result.id }}">{{ result.language|title }}</option>
										{% endfor %}
									</select>
									{% if form.language.errors %}
										<div class="alert-danger">{{ form.language.errors }}</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="code-title">Title</label>
							<input type="text" name="title" class="form-control" id="code-title" placeholder="Basic html template.">
							{% if form.title.errors %}
								<div class="alert-danger">{{ form.title.errors }}</div>
							{% endif %}
						</div>
						<div class="form-group">
							<label for="code-code">Paste your code</label>
							<textarea name="code" class="form-control" id="code-code" placeholder="Paste your code here...." rows="15"></textarea>
							{% if form.code.errors %}
								<div class="alert-danger">{{ form.code.errors }}</div>
							{% endif %}
						</div>
						<div class="form-group">
							<label for="code-description">Description</label>
							<textarea name="description" class="form-control" id="code-description" placeholder="Description about your code.." rows="5"></textarea>
							{% if form.description.errors %}
								<div class="alert-danger">
									{{ form.description.errors }}</div>
							{% endif %}
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="is_private" value="">
								Make private
							</label>
						</div>
						<button type="submit" class="btn btn-primary">Add Record</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}