{% extends "base.html" %}

{% block content %}

	<div class="data-container">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
					<div class="panel panel-default">
						<div class="panel-heading bg-wht">
							<h4 class="panel-title">{{ code_detail.title|title }}</h4>
						</div>
						<div class="panel-body c-panel-footer">
							<pre class="detail-pre">{{ code_detail.code }}</pre>
						</div>
						<div class="panel-footer bg-wht">
							<p class="detail-p">{{ code_detail.description }}</p>
						</div>
					</div>
				</div>
				{% include "leftpanel.html" %}
			</div>
		</div>
	</div>

{% endblock content %}