html {
	position: relative;
	min-height: 100%;
}
body {
	background-color: whitesmoke;
	margin-bottom: 50px;
}
/* header navigation */
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	background-color: #2C3E50;
	border-color: #2C3E50;
}
.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px;
	font-size: 25px;
	line-height: 20px;
	text-shadow: 1px 1px 5px #050505;
}
.navbar-default .navbar-brand {
	color: #F2F2F2;
}
.navbar-brand span {
	font-size: 12px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #F2F2F2;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #F2F2F2;
	letter-spacing: 1px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #F2F2F2;
	background-color: #34495E;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #F2F2F2;
	background-color: #34495E;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
	color: #ccc;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #34495E;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #F2F2F2;
}
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #F2F2F2;
  background-color: #34495E;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #F2F2F2;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #F2F2F2;
		background-color: #34495E;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}
}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #F2F2F2;
	text-decoration: none;
	background-color: #34495E;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #F2F2F2;
	text-decoration: none;
	background-color: #34495E;
	outline: 0;
}
/* login page */
.auth-container {
	margin-top: 50px;
}
.login-custom {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 10px; 
}
.login-form legend, .login-form label, .login-form a, .login-form a:hover,
.signup-form legend, .signup-form label, .signup-form a, .signup-form a:hover {
	color: #2C3E50;	
}
.facebook-btn, .facebook-btn:hover {
	background: #3B5998;
	color: #F2F2F2;
	border: 1px solid #3B5998;
	border-radius: 0px;
}
.google-btn, .google-btn:hover {
	background: #E74C3C;
	color: #F2F2F2;
	border: 1px solid #E74C3C;
	border-radius: 0px;
}

/* base css */
.base-font-clr {
	color: #2C3E50;
}
.btn-primary {
	color: #F2F2F2;
	background-color: #34495E;
	border-color: #2C3E50;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #F2F2F2;
	background-color: #2C3E50;
	border-color: #34495E;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.alert-danger {
	color: #a94442;
	background-color: transparent;
	border-color: transparent;
}
.alert-danger ul {
	padding: 0px;
	list-style-type: none;
}
.page-result-container {
	margin-top: 25px;
	padding-bottom: 25px;
}
.page-heading h3 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #666;
}
.heading-container {
	background: #ffffff;
	padding: 15px 0px;
	border-bottom: 1px solid #ddd;
}
.data-container {
	background: whitesmoke;
	padding: 15px 0px;
}
.marginfix {
	margin: 25px 0px;
}

/* Index page */
.c-panel-body {
	padding: 0px;
	min-height: 135px;
	max-height: 135px;
	overflow: hidden;
}
.c-pre {
	margin-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	border-radius: 0px;
	min-height: 135px;
	max-height: 135px;
	overflow: hidden;
}
.bg-wht {
	background: #fff !important;
}
.c-ul {
	margin-bottom: 0px;
}
.c-panel-footer {
	padding: 0px;
}
.c-panel-footer a {
	border-radius: 0px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
}
.c-panel-footer a:hover, .c-panel-footer a:focus, .c-panel-footer a:active{
	background: transparent;
	border-right: 1px solid #adadad;
}

/* Detail Page */
.detail-pre {
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	padding: 15px;
}
.detail-p {
	margin-bottom: 0px;
}

/* Footer */
.footer {
	background-color: #2C3E50;
	border-color: #2C3E50;	
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 50px;
}
.footer p {
	text-shadow: 1px 1px 5px #050505;
	color: #F2F2F2;
	margin: 15px 0px;	
}