<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CodeSaver</title>

		<!-- CSS -->
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Codesaver<span>.com</span></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Reffral</a></li>
						<li class="hidden-lg hidden-md"><a href="{% url 'add-new-code' %}">Add new code</a></li>
						{% if user.is_authenticated %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username|title }} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'profile-update' %}">Manage Profile</a></li>
									<li><a href="#">Change Password</a></li>
									<li><a href="{% url 'signout' %}">Signout</a></li>
								</ul>
							</li>
						{% else %}
							<li><a href="{% url 'login' %}">Login</a></li>
							<li><a href="{% url 'signup' %}">Signup</a></li>
						{% endif %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>

		{% block content %}
		{% endblock content %}
		
		<div class="marginfix"></div>
		<footer class="footer">
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<p>&copy; Codesaver. All Right Reserved.</p>		
					</div>
				</div>
			</div>
		</footer>

		<!-- jQuery -->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.js"></script>
		<script src="/static/js/custom.js"></script>
	</body>
</html>