{% extends "base.html" %}

{% block content %}

<div class="heading-container">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				{% if user.is_authenticated %}
					<div class="pull-right hidden-xs hidden-sm">
						<a href="{% url 'add-new-code' %}" class="btn btn-primary">Add new code</a>
					</div>
					<div class="pull-left page-heading">
						<h3>Dashboard</h3>
					</div>
				{% else %}
					<div class="page-heading">
						<h3>Index</h3>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="data-container">
	<div class="container">
		<div class="row">
			{% include "leftpanel.html" %}
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				{% for result in user_code reversed %}
					<div class="panel panel-default">
						<div class="panel-heading bg-wht">
							<h4 class="panel-title">{{ result.title|title }}</h4>
						</div>
						<div class="panel-body c-panel-body">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<div class="row">
									<pre class="c-pre">{{ result.code }}</pre>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
								<h6>{{ result.description }}</h6>
							</div>
						</div>
						<div class="panel-footer bg-wht c-panel-footer">
							{% url 'code-detail' result.slug_code as code_detail_url %}
							<a href="{{ code_detail_url }}" class="btn btn-default">View code</a>
							<a href="#sendcodeemail" class="btn btn-default" data-toggle="modal" data-slugid="{{ result.slug_code }}">Send code via Email</a>
							<a href="{{ code_detail_url }}" class="btn btn-default">Download code</a>
							{{ result.user.username }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-sm" id="sendcodeemail" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<br/>
				<form>
					<div class="form-group">
						<input type="text" name="slug_code" id="slug_code" class="hidden">
						<label for="email_field">Enter valid Email Address</label>
						<input type="email" class="form-control" name="email_field" id="email_field" placeholder="example@domail.com">
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default" id="send-code-btn">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}