<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	<ul class="list-group">
		{% for result in languge_result %}
			{% if result.language_count != 0 %}
				{% url 'language-filter' result.name as language_name %}
				<a href="{{ language_name }}">
					<li class="list-group-item">
						<span class="badge">{{ result.language_count }}</span>
						{{ result.name|title }}
					</li>
				</a>
			{% endif %}
		{% endfor %}
	</ul>
</div>
