{% extends "base.html" %}

{% block content %}

<div class="auth-container">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-4">
			<div class="row login-custom">
				<form action="" method="POST" class="login-form" role="form" id="login-form">
					{% csrf_token %}
					<div class="form-group">
						<legend>Sign In</legend>
					</div>
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" name="username" class="form-control" id="username" placeholder="username">
						{% if form.username.errors %}
							<div class="alert-danger">{{ form.username.errors }}</div>
						{% endif %}
					</div> 
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" id="password" placeholder="********">
						{% if form.password.errors %}
							<div class="alert-danger">{{ form.password.errors }}</div>
						{% endif %}
					</div> 
					<div class="form-group">
						<a href="">Forgot Password ?</a>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Sign In</button>
					</div>
				</form>
			</div>
			<div class="row">
				<p>You can sign in via:</p>
				<button type="button" class="btn btn-default google-btn col-lg-6 col-md-6 col-sm-12 col-xs-12">Google+</button>
				<button type="button" class="btn btn-default facebook-btn col-lg-6 col-md-6 col-sm-12 col-xs-12">Facebook</button>
			</div>
		</div>
	</div>
</div>

{% endblock content %}