{% extends "base.html" %}

{% block content %}
	{% if messages %}
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 signup-success-msg">
			<div class="row">
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{% for message in messages %}
						{% autoescape off %}
							{{message}}
						{% endautoescape %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<form action="" method="POST" role="form" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					<legend>Update Profile</legend>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="row">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" name="username" class="form-control" id="username" value="{{ profile.username }}" readonly>
						</div>
						<div class="form-group">
							<label for="firstname">Firstname</label>
							<input type="text" name="first_name" class="form-control" id="firstname" value="{{ profile.first_name }}" placeholder="Firstname">
							<span>{{ form.first_name.errors }}</span>
						</div>
						<div class="form-group">
							<label for="lastname">Lastname</label>
							<input type="text" name="last_name" class="form-control" id="lastname" value="{{ profile.last_name }}" placeholder="Lastname">
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" class="form-control" id="email" value="{{ profile.email }}" readonly>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-4 col-md-offset-4">
					<div class="row">
						<div class="form-group">
							<label for="profile_pic">Profile Image</label>
							<input type="file" name="profile_pic" class="form-control" id="profile_pic">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock content %}