{% extends "base.html" %}

{% block content %}
	<div class="auth-container">
		<div class="container">
			{% if messages %}
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 signup-success-msg">
					<div class="row">
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{% for message in messages %}
								{% autoescape off %}
									{{message}}
								{% endautoescape %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-4">
				<div class="row">
					<form action="" method="POST" class="signup-form" role="form" id="signup-form">
						{% csrf_token %}
						<div class="form-group">
							<legend>Sign Up</legend>
						</div>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" name="username" class="form-control" id="username" placeholder="username">
							{% if form.username.errors %}
								<div class="alert-danger">{{ form.username.errors }}</div>
							{% endif %}
						</div> 
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" class="form-control" id="email" placeholder="example@domain.com">
							{% if form.email.errors %}
								<div class="alert-danger">{{ form.email.errors }}</div>
							{% endif %}
						</div> 
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" class="form-control" id="password" placeholder="********">
							{% if form.password.errors %}
								<div class="alert-danger">{{ form.password.errors }}</div>
							{% endif %}
						</div> 
						<div class="form-group">
							<label for="cnfpassword">Confrim Password</label>
							<input type="password" name="cnfpassword" class="form-control" id="cnfpassword" placeholder="********">
							{% if form.cnfpassword.errors %}
								<div class="alert-danger">{{ form.cnfpassword.errors }}</div>
							{% endif %}
						</div> 
						<div class="form-group">
							<button type="submit" class="btn btn-primary" id="signup-btn">Sign Up</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}